<!DOCTYPE html>
<html>
  <head>
    <title>Trang quản trị nội dung</title>
  </head>
  <body>
    <div class="header">
      <h1>Trang quản trị nội dung</h1>
      <nav>
        <ul>
          <li><a href="/">Trang chủ</a></li>
          <li><a href="http://localhost:3000/admin/create">Đăng bài mới</a></li>
          <li><a href="http://localhost:3000/admin/stored-main">Nội dung trang chủ</a></li>
          <li><a href="http://localhost:3000/admin/stored-courses">Bài báo Champion League</a></li>
          <li><a href="http://localhost:3000/admin/stored-euro">Bài báo Euro</a></li>
          <li><a href="http://localhost:3000/admin/stored-epl">Bài báo Epl</a></li>
          <li><a href="http://localhost:3000/admin/stored-laliga">Bài báo Laliga</a></li>

        </ul>
      </nav>
    </div>
    <div class="content">
        <div class="sidebar">
        <ul>
          <li>
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:  #e5e5e5; border : none ;">
                Quản lý nội dung
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="http://localhost:3000/admin/stored-main">Nội dung trang chủ</a></li>
                <li><a class="dropdown-item" href="http://localhost:3000/admin/stored-courses">Nội dung Champion League</a></li>
                <li><a class="dropdown-item" href="http://localhost:3000/admin/stored-epl">Nội dung Epl</a></li>
                <li><a class="dropdown-item" href="http://localhost:3000/admin/stored-euro">Nội dung Euro</a></li>
                <li><a class="dropdown-item" href="http://localhost:3000/admin/stored-laliga">Nội dung Laliga</a></li>

              </ul>
            </div>
          </li>
          <li style="margin-left: 12px;"><a href="#">Quản lý người dùng</a></li>
          <li style="margin-left: 12px;"><a href="#">Thống kê</a></li>
        </ul>
        </div>
        <div class="mt-8" style="color: rgb(29, 32, 35); width: 80% ; margin-left : 50px">
            <h3> Sửa bài viết</h3>
            <div id="form-create">
                <form action="/home/{{courses._id}}?_method=PUT" method="post">

                    <div class="form-group">
                        <label for="phara1">Mô tả</label>
                        <textarea type="text"  name="phara1" id="phara1" class="form-control">{{courses.phara1}}</textarea>
                        <h1 id ="errorphara1"></h1>
                    </div>

                    <div class="form-group">
                        <label for="name">Tên</label>
                        <input type="text" value = "{{courses.name}}" name="name" id="name" class="form-control">
                        <h1 id ="errorname"></h1>
                    </div>

                    <div class="form-group">
                        <label for="summary">summary</label>
                        <input type="text" value = "{{courses.summary}}" name="summary" id="summary" class="form-control">
                        <h1 id ="errorsummary"></h1>
                    </div>

                    <div class="form-group">
                        <label for="img1">Ảnh</label>
                        <input type="text" value = "{{courses.img1}}" name="img1" id="img1" class="form-control">
                        <h1 id ="errorimg1"></h1>
                    </div>

                    <button type="submit" class="btn btn-primary" id="check-submit">Lưu chỉnh sửa</button>
                    <h1 id="errorsubmit"></h1>
                </form>
            </div>
        </div>
    </div>

    <div class="footer">
      <p>© 2023</p>
    </div>

  </body>
</html>
