<div class="mt-4">
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-6" style="color: #000; background-color :rgba(240, 248, 255, 0.8)" >
            
            <h2 class="news-page-name" style="color: #000;">{{epl.name}}</h2>
            <br>
            <br>

            <p class="news-page-phara" style="color: #000;">{{epl.phara1}}</p>
            <img src="{{epl.image1}}" alt="" class="news-page-img" height="400px" width="600px" >
            <p class="news-page-phara" style="color: #000;">{{epl.phara2}}</p>
            <img src="{{epl.image3}}" alt="" class="news-page-img" height="400px" width="600px">
            <p class="news-page-phara" style="color: #000;">{{epl.phara3}}</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{epl.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <br>
            <h2 class="news-page-author" style="color: #000;"> <i class="fa-regular fa-user"></i> Tác giả : {{epl.author}}</h2>
        </div>
        <div class="col-lg-4">
            <ul>
                <li>
                    <a href="">
                        link chuyển tiếp
                    </a>
                </li>
                <li>
                    <a href="">
                        link chuyển tiếp
                    </a>
                </li>
                <li>
                    <a href="">
                        link chuyển tiếp
                    </a>
                </li>
                <li>
                    <a href="">
                        link chuyển tiếp
                    </a>
                </li>
                <li>
                    <a href="">
                        link chuyển tiếp
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>