<div id="body">
    <div class="container text-center">
        <div class="row">
            <div class="col-3">       
            </div>
            <div class="col-11" style="display :flex">
                <div class="nam_app">
                    <div class="nam_container_web">
                        <div class="nam_grid">
                            <div class="nam_grid__row">
                                <div class="nam_middle" style="display: flex;">
                                    <div class="nam_left">
                                        <nav class="nam_category" id="nam_category" >
                                            <ul class="nam_category-list">
                                                <li class="nam_category-item">
                                                    <a href="/" class="nam_category-item-link">
                                                        Tin mới
                                                    </a>
                                                </li>
                                                <li class="nam_category-item">
                                                    <a href="" class="nam_category-item-link">
                                                        Video
                                                    </a>
                                                </li>
                                                <li class="nam_category-item">
                                                    <div class="nam_category-item-link">
                                                        <div class="dropdown" >
                                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 1.4rem; border :none ; background-color :transparent ; color :black">
                                                                        Lịch thi đấu
                                                                    </button>
                                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="font-size: 1.4rem; ">
                                                                <li><a class="dropdown-item" href="https://www.premierleague.com">Lịch Champion League</a></li>
                                                                <li><a class="dropdown-item" href="https://www.uefa.com/">Lịch Ngoại Hạng Anh</a></li>
                                                                <li><a class="dropdown-item" href="https://www.facebook.com/lecongnam0604/">Lịch vòng loại Euro 2024</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="nam_category-item category-item-not-active">
                                                    <a href="/live/Live" class="nam_category-item-link ">
                                                        Livestream
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                        <nav class="nam_category">
                                            <ul class="nam_category-list">
                                                <li class="nam_category-item">
                                                    <a href="/epl/Epl" class="nam_category-item-link">
                                                        Premier League
                                                    </a>
                                                </li>
                                                <li class="nam_category-item">
                                                    <a href="laliga/Laliga" class="nam_category-item-link">
                                                        La Liga
                                                    </a>
                                                </li>
                                                <li class="nam_category-item">
                                                    <a href="" class="nam_category-item-link">
                                                        Bundesliga
                                                    </a>
                                                </li>
                                                <li class="nam_category-item">
                                                    <a href="" class="nam_category-item-link">
                                                        League 1
                                                    </a>
                                                </li>
                                                <li class="nam_category-item category-item-not-active">
                                                    <a href="" class="nam_category-item-link ">
                                                        Serie A
                                                    </a>
                                                    
                                                </li>
                                                <li class="nam_category-item category-item-not-active">
                                                    <a href="c1/Champion-League" class="nam_category-item-link ">
                                                        Champion League
                                                    </a>
                                                    
                                                </li>
                                                <li class="nam_category-item category-item-not-active">
                                                    <a href="c1/Champion-League" class="nam_category-item-link ">
                                                        Champion League
                                                    </a>
                                                    
                                                </li>
                                                <li class="nam_category-item category-item-not-active">
                                                    <a href="euro/Euro" class="nam_category-item-link ">
                                                        Euro 2024
                                                    </a>
                                                    
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="nam_new-hot">  
                                        <div class="nam_new-hot--slide">
                                           <a href="https://thethao247.vn/415-phan-ung-cua-ronaldo-khi-bi-tre-con-che-kem-hon-messi-d280646.html" class="nam_new-hot__header" target="_blank">
                                            <img src="https://www.seiu1000.org/sites/main/files/main-images/camera_lense_0.jpeg" alt="" class="nam_new-hot__header--img">
                                            <div class="nam_new-hot__header--title">
                                                <h3> <span class="nam_special_line">nam le</span> Dự đoán ĐỘI HÌNH RA SÂN MAN CITY ĐẤU RB LEIPZIG: 'Hủy diệt' đội khách?</h3>
                                            </div>                              
                                            </a>
                                            <div class="nam_new-hot__header--disciption">
                                                CLB Manchester United đang được cho là một trong những bến đỗ khả thi nhất cho tiền đạo Harry Kane ở TTCN mùa Hè tới đây.
                                            </div>
                                        </div>
                                        <div class="nam_new-hot--slide">
                                           <a href="https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg" class="nam_new-hot__header" target="_blank">
                                            <img src="https://cdn-img.thethao247.vn/storage/files/tranvutung/2023/03/14/erling-haaland-560-1678806242-220429.jpg" alt="" class="nam_new-hot__header--img">
                                            <div class="nam_new-hot__header--title">
                                                <h3> <span class="nam_special_line">nam le</span> Dự đoán ĐỘI HÌNH RA SÂN MAN CITY ĐẤU RB LEIPZIG: 'Hủy diệt' đội khách?</h3>
                                            </div>                              
                                            </a>
                                            <div class="nam_new-hot__header--disciption">
                                                CLB Manchester United đang được cho là một trong những bến đỗ khả thi nhất cho tiền đạo Harry Kane ở TTCN mùa Hè tới đây.
                                            </div>
                                        </div>
                                        <div class="nam_new-hot--slide">
                                           <a href="https://openai.com" class="nam_new-hot__header" target="_blank">
                                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/800px-Image_created_with_a_mobile_phone.png" alt="" class="nam_new-hot__header--img">
                                            <div class="nam_new-hot__header--title">
                                                <h3> <span class="nam_special_line">nam le</span> Dự đoán ĐỘI HÌNH RA SÂN MAN CITY ĐẤU RB LEIPZIG: 'Hủy diệt' đội khách?</h3>
                                            </div>                              
                                            </a>
                                            <div class="nam_new-hot__header--disciption">
                                                CLB Manchester United đang được cho là một trong những bến đỗ khả thi nhất cho tiền đạo Harry Kane ở TTCN mùa Hè tới đây.
                                            </div>
                                        </div>
                                        <div class="nam_new-hot--slide">
                                            <a href="https://openai.com" class="nam_new-hot__header" target="_blank">
                                            <img src="https://thumbs.dreamstime.com/b/environment-earth-day-hands-trees-growing-seedlings-bokeh-green-background-female-hand-holding-tree-nature-field-gra-130247647.jpg" alt="" class="nam_new-hot__header--img">
                                            <div class="nam_new-hot__header--title">
                                                <h3> <span class="nam_special_line">nam le</span> Dự đoán ĐỘI HÌNH RA SÂN MAN CITY ĐẤU RB LEIPZIG: 'Hủy diệt' đội khách?</h3>
                                            </div>                              
                                            </a>
                                            <div class="nam_new-hot__header--disciption">
                                                CLB Manchester United đang được cho là một trong những bến đỗ khả thi nhất cho tiền đạo Harry Kane ở TTCN mùa Hè tới đây.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nam_new-side">
                                    <ul class="nam_new-side-list">
                                        <li class="nam_new-side-item">
                                            <a href="https://thethao247.vn/415-lo-dien-cau-thu-barca-duoc-real-madrid-ton-trong-bac-nhat-d280647.html" class="nam_new-side-item-link" target="_blank" >
                                                <h3>Lộ diện <span class="nam_special_line">cầu thủ có thể thay thế cho Ronaldo</span></h3>
                                            </a>
                                        </li>
                                        <li class="nam_new-side-item">
                                            <a href="https://thethao247.vn/415-lo-dien-cau-thu-barca-duoc-real-madrid-ton-trong-bac-nhat-d280647.html" class="nam_new-side-item-link" target="_blank" >
                                                <h3>Lộ diện <span class="nam_special_line">cầu thủ có thể thay thế cho Ronaldo</span></h3>
                                            </a>
                                        </li>
                                        <li class="nam_new-side-item">
                                            <a href="https://thethao247.vn/415-lo-dien-cau-thu-barca-duoc-real-madrid-ton-trong-bac-nhat-d280647.html" class="nam_new-side-item-link" target="_blank" >
                                                <h3>Lộ diện <span class="nam_special_line">cầu thủ có thể thay thế cho Ronaldo</span></h3>
                                            </a>
                                        </li>
                                        <li class="nam_new-side-item">
                                            <a href="https://thethao247.vn/415-lo-dien-cau-thu-barca-duoc-real-madrid-ton-trong-bac-nhat-d280647.html" class="nam_new-side-item-link" target="_blank" >
                                                <h3>Lộ diện <span class="nam_special_line">cầu thủ có thể thay thế cho Ronaldo</span></h3>
                                            </a>
                                        </li>
                                        <li class="nam_new-side-item">
                                            <a href="https://thethao247.vn/415-lo-dien-cau-thu-barca-duoc-real-madrid-ton-trong-bac-nhat-d280647.html" class="nam_new-side-item-link" target="_blank" >
                                                <h3>Lộ diện <span class="nam_special_line">cầu thủ có thể thay thế cho Ronaldo</span></h3>
                                            </a>
                                        </li>
                                        <li class="nam_new-side-item">
                                            <a href="https://thethao247.vn/415-lo-dien-cau-thu-barca-duoc-real-madrid-ton-trong-bac-nhat-d280647.html" class="nam_new-side-item-link" target="_blank" >
                                                <h3>Lộ diện <span class="nam_special_line">cầu thủ có thể thay thế cho Ronaldo</span></h3>
                                            </a>
                                        </li>
                                        <li class="nam_new-side-item">
                                            <a href="https://thethao247.vn/415-lo-dien-cau-thu-barca-duoc-real-madrid-ton-trong-bac-nhat-d280647.html" class="nam_new-side-item-link" target="_blank" >
                                                <h3>Lộ diện <span class="nam_special_line">cầu thủ có thể thay thế cho Ronaldo</span></h3>
                                            </a>
                                        </li>
                                        <li class="nam_new-side-item">
                                            <a href="https://thethao247.vn/415-lo-dien-cau-thu-barca-duoc-real-madrid-ton-trong-bac-nhat-d280647.html" class="nam_new-side-item-link" target="_blank" >
                                                <h3>Lộ diện <span class="nam_special_line">cầu thủ có thể thay thế cho Ronaldo</span></h3>
                                            </a>
                                        </li>
                                        <li class="nam_new-side-item">
                                            <a href="https://thethao247.vn/415-lo-dien-cau-thu-barca-duoc-real-madrid-ton-trong-bac-nhat-d280647.html" class="nam_new-side-item-link" target="_blank" >
                                                <h3>Lộ diện <span class="nam_special_line">cầu thủ có thể thay thế cho Ronaldo</span></h3>
                                            </a>
                                        </li>
                                        <li class="nam_new-side-item">
                                            <a href="https://thethao247.vn/415-lo-dien-cau-thu-barca-duoc-real-madrid-ton-trong-bac-nhat-d280647.html" class="nam_new-side-item-link" target="_blank" >
                                                <h3>Lộ diện <span class="nam_special_line">cầu thủ có thể thay thế cho Ronaldo</span></h3>
                                            </a>
                                        </li>
                                        <li class="nam_new-side-item">
                                            <a href="https://thethao247.vn/415-lo-dien-cau-thu-barca-duoc-real-madrid-ton-trong-bac-nhat-d280647.html" class="nam_new-side-item-link" target="_blank" >
                                                <h3>Lộ diện <span class="nam_special_line">cầu thủ có thể thay thế cho Ronaldo</span></h3>
                                            </a>
                                        </li>
                                        <li class="nam_new-side-item">
                                            <a href="https://thethao247.vn/415-lo-dien-cau-thu-barca-duoc-real-madrid-ton-trong-bac-nhat-d280647.html" class="nam_new-side-item-link" target="_blank" >
                                                <h3>Lộ diện <span class="nam_special_line">cầu thủ có thể thay thế cho Ronaldo</span></h3>
                                            </a>
                                        </li>
                                        <li class="nam_new-side-item">
                                            <a href="https://thethao247.vn/415-lo-dien-cau-thu-barca-duoc-real-madrid-ton-trong-bac-nhat-d280647.html" class="nam_new-side-item-link" target="_blank" >
                                                <h3>Lộ diện <span class="nam_special_line">cầu thủ có thể thay thế cho Ronaldo</span></h3>
                                            </a>
                                        </li>
                                        <li class="nam_new-side-item">
                                            <a href="https://thethao247.vn/415-lo-dien-cau-thu-barca-duoc-real-madrid-ton-trong-bac-nhat-d280647.html" class="nam_new-side-item-link" target="_blank" >
                                                <h3>Lộ diện <span class="nam_special_line">cầu thủ có thể thay thế cho Ronaldo</span></h3>
                                            </a>
                                        </li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="nam_grid__row">
                                <div class="nam_grid__column-8" style="display: flex ; flex-wrap : wrap">
                                    {{#each course}}
                                    <a href="/courses/{{this.slug}}" style="text-decoration: none; color:black">
                                        <div class="card" style="width: 31% ; margin : 5px 20px 5px 0">
                                            <img src="{{this.image1}}" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title" style="font-size:1.4rem">{{this.name}}</h5>
                                                <p class="card-text">{{this.summary}}</p>
                                                <a href="/courses/{{this.slug}}" class="btn btn-primary" style=" font-size: 1.5rem">Xem bài viết</a>
                                            </div>
                                        </div>
                                    </a>
                                    {{/each}}
                                    
                                </div>
                            </div>         
                            <div class="nam_grid__row">
                                <div class="nam_grid__column-8" >
                                    <h1 class="other-content">Các nội dung tin tức khác</h1>
                                    <ul class="other-content--list">
                                        <li><a href="/epl/Epl" class="other-content--link"><img src="https://wallpaperaccess.com/full/4715537.jpg" alt="" title="Ngoại Hạng Anh"></a></li>
                                        <li><a href="/c1/Champion-League" class="other-content--link"><img src="https://cdn.mos.cms.futurecdn.net/FCgDYSPyp4GTsvmhVMaUP6-1200-80.jpg" alt="" title="Champion League"></a></li>
                                        <li><a href="/euro/Euro" class="other-content--link"><img src="https://pbs.twimg.com/media/DoFZVvfXkAUnWMh.jpg" alt="" title="Euro 2024"></a></li>
                                        <li><a href="/live/LiveStream" class="other-content--link"><img src="https://media.istockphoto.com/id/1224858701/vector/live-stream-symbol-icon.jpg?s=612x612&w=0&k=20&c=MnIxcGD0HRfDsjtLDngrO7ScQxb5VFjiZZAgAetTJbM=" alt="" title="Live Stream"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">

            </div>
        </div>
    </div>
</div>